@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, nord, night, synthwave; /* 預設只有 light, dark */
}

/* AlpineJS required */
@layer base {
  [x-cloak] {
    display: none !important;
  }
}

/* HTMX Indicator required */
@layer components {
  .htmx-indicator {
    display: none;
  }
  .htmx-request .htmx-indicator {
    display: inline;
  }
  .htmx-request.htmx-indicator {
    display: inline;
  }
}
