package components

templ Footer() {
	<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
		<aside>
			<p>Copyright &copy; 2025 Goath stack. All rights reserved</p>
		</aside>
	</footer>
}
